#root {
    padding: 0 !important;
  }
  
  body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      font-family: Inter, sans-serif;
    }
    
    .registerPage {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: #ADDBC0;
    }
    
    .header {
      background-color: #FFF3CA;
      width: 100%;
      text-align: left;
      padding: 20px 0;
      margin-bottom: 50px;
    }
    
    .header h1 {
      margin: 0;
      padding-left: 30px;
      color: #000;
      font-size: 2em;
      margin-left: 30px;
    }
    
    .registerBox {
      background-color: #DCCFA4;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      width: 450px;
      text-align: center;
      font-family: 'Inter', sans-serif;
    }
    
    .registerBox h2 {
      margin-bottom: 20px;
      color: #2A494D;
    }
    
    .registerBox form {
      display: flex;
      flex-direction: column;
    }
    
    .registerBox label {
      margin-bottom: 10px;
      color: #2A494D;
      text-align: left;
      font-family: 'Inter', sans-serif;
    }
    
    .registerBox label span {
      color: red;
    }
    
    .registerBox input {
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      font-family: 'Inter', sans-serif;
    }
    
    .registerBox input::placeholder {
      color: #ccc;
    }
    
    .registerButton {
      padding: 10px;
      background-color: #A5E1BE;
      color: #2A494D;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 10px;
      font-family: 'Inter', sans-serif;
    }
    
    .font {
      color: #2A494D;
    }
    
    .registerButton {
      padding: 10px;
      background-color: #A5E1BE;
      color: #2A494D;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 10px;
      font-family: 'Inter', sans-serif;
    }
    